<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon:</p>
	<ul>
		<% @trainer.pokemon.each do |pokemon| %>
			<li><%= pokemon.name %>: <%= pokemon.level %> 
			(HP: <%= pokemon.health %>)
			<%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button small", :method => :patch %></li>
		<% end %>
	</ul>

	<p><%= button_to "Create New Pokemon", new_pokemon_path(), :class => "button medium", :method => :get if @trainer == current_trainer%><p>
